<h1>Thank You <%=firstname%> <%=lastname%>.</h1>
<h3> The amount given was <%=total%></h3>
<h3> The change for that is <%=change%></h3>
<form method= "post" action= "results">
	<input type="hidden" name="firstname" value = "<%=firstname%>">
	<input type="hidden" name="lastname" value = "<%=lastname%>">

<h4>Would you like to try another number?</h4><br>
<input type= "submit" value= "redo">
</form>