<h1>Thank You <%=firstname%> <%=lastname%>
The amount given was<br>
<%=total%><br>
The change for that is<br>
 <%=change%><br>
The current date and time is, <%=date_time%>.
<form method= "post" action= "results">
	<input type="hidden" name="firstname" value = "<%=firstname%>">
	<input type="hidden" name="lastname" value = "<%=lastname%>"></h1>
<h1>Would you like to try another number?<br>
<input type= "submit" value= "redo">
</form></h1>